div{
    background-color: powderblue;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    background-color: wheat;
    gap: 5px;
}